<div class="information_page_zone">

  <h2 class="information_title">HairSkill</h2>

  <div id="arrow-left" class="arrow"></div>
  <div id="arrow-right" class="arrow"></div>

  <div id="slider">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </div>
</div>