<div class="information_page_zone">

  <h2 class="information_title">HairSkill</h2>

  <div id="arrow-left" class="arrow"></div>
  <div id="arrow-right" class="arrow"></div>

  <div id="slider">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </div>

  <h3 class="blink">おみくじを引いてみよう</h3>
  <input id="omikuji_btn" type="button" value="おみくじを引く">
  <script>
        document.getElementById( "omikuji_btn" ).onclick = function() {
            let rnd = Math.floor( Math.random() * 6 );
            let omikuji;
            if (rnd === 0) omikuji = "大吉"+"(絶好調!!)";
            if (rnd === 1) omikuji = "吉"+"(今日は良い1日になりそう！)";
            if (rnd === 2) omikuji = "中吉"+"(ちょっといいことあるかも...!)";
            if (rnd === 3) omikuji = "小吉"+"(初心を大切に行動しよう!)";
            if (rnd === 4) omikuji = "末吉"+"(山あり谷ありな1日かも...!)";
            if (rnd === 5) omikuji = "凶"+"(周りを見ながら注意して行動しよう...!)";
            alert(omikuji);
        }
    </script>
</div>