  <div class="skill_navigation_page">
    <ul>
      <li class="skill_navigation_cut">
        <%= link_to cuts_path, class:"skill_seni" do %>
          <span>Cut</span>
        <% end %>
      </li>
      <li class="skill_navigation_color">
        <%= link_to colors_path, class:"skill_seni" do %>
          <span>Color</span>
        <% end %>
      </li>
      <li class="skill_navigation_perm">
        <%= link_to perms_path, class:"skill_seni" do %>
          <span>Perm</span>
        <% end %>
      </li>
    </ul>
  </div>