  <div class="skill_navigation_page">
    <ul class="skill_navigation_zone">
      <%= link_to cuts_path, class:"skill_seni" do %>
        <li class="skill_navigation_cut">
          <span>Cut</span>
        </li>
      <% end %>
      <%= link_to colors_path, class:"skill_seni" do %>
        <li class="skill_navigation_color">
          <span>Color</span>
        </li>
      <% end %>
      <%= link_to perms_path, class:"skill_seni" do %>
        <li class="skill_navigation_perm">
          <span>Perm</span>
        </li>
      <% end %>
    </ul>
  </div>