  <!--cssはusers.cssに記述しています-->
  <div class="skill_navigation_page">
    <ul class="skill_navigation_zone">
      <%= link_to cuts_path, class:"skill_seni" do %>
        <li class="skill_navigation_cut">
          <span>Cut</span>
        </li>
      <% end %>
      <%= link_to colors_path, class:"skill_seni" do %>
        <li class="skill_navigation_color">
          <span>Color</span>
        </li>
      <% end %>
      <%= link_to perms_path, class:"skill_seni" do %>
        <li class="skill_navigation_perm">
          <span>Perm</span>
        </li>
      <% end %>
    </ul>
    <h4 class="timer-moji">Timer</h4>
    <div id="timer">00:00:000</div>
    <div id="time_control">
      <button id="start">start</button>
      <button id="stop">stop</button>
      <button id="reset">reset</button>
    </div>
  </div>