<div class="shutter"></div>
<!------------シャッター用--------------->
<!-----cssアニメーションはhomes.scss----->
<!-------↓contentをセクションで囲う------>
<section class="open-page">
    <div class="content top-image-box">
      <h1 class="theme"><span class="h">H</span>air<span class="s">S</span>kill</h1>
    </div>
</section>
