<div class="shutter"></div>
<!-----------↑シャッター用--------------->
<!-----↓containerをセクションで囲う------>
<section class="open-page">
    <div class="container top-image-box">
      <h1 class="theme"><span class="h">H</span>air<span class="s">S</span>kill</h1>
    </div>
</section>
