/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";


@mixin skill_index {
    background-position: top;
    background-repeat: no-repeat;
    min-height: 600px;
    background-size:cover;
    background-blend-mode: lighten;
  }

body {
  width: 80%;
  margin: 0 auto;
  padding-top: 118px;
  border: 0;
  font-size: 100%;
  min-height: 100vh;
  background-color: black;
}

.good {
  background-color: black;
  color: snow;
}

.header {
    width: 80%;
    position: fixed;
    top: 0;
    left: 10%;
    display: flex;
    z-index: 1;
    background-color: black;
    border: 5px solid silver;
}
.header_logo {
  width: 20%;
  font-family: Didot;
  }
  .theme_title {
    letter-spacing: 3px;
    text-decoration: none;
    padding: 30px;
    color: burlywood;
    margin-bottom: 0;

    &:hover {
    color: gray;
    text-decoration: underline;
  }
    &:active {
    color: plum;
  }
}
.header_nav {
  width: 100%;
  background-color: brown;
  display: flex;
  align-items: center;

    ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: auto;
    // -----------------------------------
    // h-seni = headerから遷移ということ
    // -----------------------------------
    .h-seni {
      color: snow;
      font-size: 16px;
      padding: 0 20px;

      &:hover {
        background-color: orange;
      }

      &:active {
        color: plum;
      }
    }
  }
}
  // ------------
  // footerのcss
  // ------------
.footer{
    position: absolute;
    margin: 0;
    height: 150px;
    width: 100%;
    background-color: brown;
    border: 5px solid silver;
    align-items: center;
    display: flex;
}

.footer_nav {
    display: none;
}

// ---------------------------------------
// homes/topのcss
// ---------------------------------------
.top-image-box {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%
}
// ------------------------------------------------
// ここから下はレスポンシブのcssになっております。
// ------------------------------------------------
@media (max-width: 1100px) and (min-width: 1001px) {
  // -----------------------
  // users/informationのcss
  // -----------------------
  body {
    width: 80%;
    margin: 0 auto;
    padding-top: 118px;
  }

  .header {
    width: 80%;
    position: fixed;
    top: 0;
    left: 10%;
    display: flex;
    background-color: black;
    border: 5px solid silver;
  }
  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
  }
  .arrow {
    margin-top: 150px;
  }

  #arrow-left {
    margin-left: 200px;
  }

  #arrow-right{
    margin-right: 200px;
  }

}


@media (max-width: 1000px) and (min-width: 700px) {

  body {
    width: 100%;
    padding-top: 151px;
  }

  .header {
    width: 100%;
    height: 150px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header_logo {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .theme_title {
    letter-spacing: 10px;
  }
  .header_nav {
    width: 100%;
    display: flex;
    height: 32px;

      ul {
      list-style: none;
      display: flex;
      margin: 0 auto;

      .h-seni {
        color: snow;
        font-size: 18px;
        padding: 0 10px;

      }
    }
  }

  .footer_nav {
    display: none;
  }
  // ---------------
  // homes/topのcss
  // ---------------
  .content {
  background-repeat: no-repeat;
  min-height: 1100px;
  background-size:cover;
  background-position: center;
  }

// -----------------------
// users/informationのcss
// -----------------------

  .information_page_zone {
    background-color: #FFFFCC;
  }

  .information_page_zone {
    text-align: center;
    color: teal;
  }

  #slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }

  #arrow-left {
    margin-left: 0px;
  }

  #arrow-right {
    margin-right: 0px;
  }
  // -----------------------------------------------
  // cuts・colors・perms・blogsのindexファイルのcss
  // -----------------------------------------------
  .touko {
    margin: auto;
  }
}


@media (max-width: 699px) and (min-width: 341px) {

    body {
      width: 100%;
      padding-top: 95px;
    }

    .header {
      width: 100%;
      display: inherit;
      position: fixed;
      top: 0;
      left: 0
    }
    .header_logo {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
    .theme_title {
      letter-spacing: 10px;
      padding: 18px;

    }
    .header_nav {
      display: none;
    }
  // ------------
  // footerのcss
  // ------------
  .footer{
    height: 80px;
    width: 100%;
    background-color: brown;
    border: 1px solid silver;
    align-items: center;
    display: flex;
  }
  .footer_nav {
    width: 100%;
    display: flex;
    height: 32px;
    align-items: center;
    text-align: center;
    ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        margin: 0 auto;

    li+li {
      margin-left: 30px;
    }

    // -----------------------------------
    // f-seni = footerから遷移ということ
    // -----------------------------------

      .f-seni {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: snow;
          padding: 0;
        .hurigana {
            display: block;
            justify-content: center;
            display: block;
            font-size: 15px;
        }
      }
    }
  }
    // -----------------
    // homes/topのcss
    // -----------------
    .content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    }

    .theme{
      font-size: 40px;
    }
  // -----------------
  // users/skillのcss
  // -----------------
  #timer {
    color: orange;
    font-size: 70%;
  }
  #time_control{
    display: flex;
    font-size: 52px;
    display: inline-flex;
  }

  // ----------------------
  // users/informationのcss
  // ----------------------
  .information_page_zone {
    background-color: #FFFFCC;
    height: 79vh;
  }

  .information_page_zone {
    text-align: center;
    color: teal;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
  }

  .arrow {
    margin-top: 70px;
}

  #arrow-left {
    margin-left: 30px;
  }

  #arrow-right{
    margin-right: 30px;
  }

  .blink {
    margin: 50px auto 50px auto;
  }
  // ----------------------
  // usersのフォーム類のcss
  // ----------------------
  .post_profile {

  .post_zone {
    width: 200px;
  }
}
  // ----------------
  // color/indexのcss
  // ----------------

  .color_page_zone {
    background: rgba(255, 255, 255, .3) image-url('AdobeStock_198683617.jpeg');
    @include skill_index;
  }
  .color_form {
    background-color: rgba(255,255,255,.5);
  }
  // ---------------
  // perm/indexのcss
  // ---------------
  .perm_page_zone {
    background: rgba(255, 255, 255, .3) image-url('shutterstock_1177580824.jpg');
    @include skill_index;
  }
  .perm_form {
    background-color: rgba(255,255,255,.5);
  }
  // ---------------
  // cuts/indexのcss
  // ---------------
  .cut_page_zone {
    whith: 100%;
    background: rgba(255, 255, 255, .3) image-url('shutterstock_178947776.jpg');
    @include skill_index;
  }
  .cut_form {
    background-color: rgba(255,255,255,.5);
  }
  // --------------
  // homes/topのcss
  // --------------
  .content {
    background-repeat: no-repeat;
    min-height: 100px;
    background-size: cover;
    background-position: center;
  }
  // -----------
  // blogのcss
  //------------

  .blog_form {
    background-color: rgba(255,255,255,.5);
  }
}

@media (max-width: 340px) and (min-width: 0px) {

    body {
      width: 100%;
      padding-top: 70px;
    }

    .header {
      width: 100%;
      display: inherit;
      position: fixed;
      top: 0;
      left: 0;
    }
    .header_logo {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
    .theme_title {
      letter-spacing: 10px;
      padding: 5px;
    }
    .header_nav {
      display: none;

        ul {
        list-style: none;
        display: flex;
        margin: 0 auto;

        .h-seni {
          display: flex;
          justify-content: center;
          color: snow;
          padding: 0;
        }
      }
    }

  // footerのcss
  .footer{
    height: 58px;
    width: 100%;
    background-color: brown;
    border: 1px solid silver;
    align-items: center;
    display: flex;
  }

  .footer_nav {
    width: 100%;
    display: flex;
    height: 32px;
    align-items: center;
    text-align: center;
    ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        margin: 0 auto;

    li+li {
      margin-left: 15px;
    }

      .f-seni {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: snow;
          padding: 0;
        .hurigana {
            display: block;
            justify-content: center;
            display: block;
            font-size: 15px;
        }
      }
    }
  }

    // --------------
    // homes/topのcss
    // --------------

  .content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100px;
  }

    .theme{
      font-size: 40px;
    }

  // ----------------------
  // users/informationのcss
  // ----------------------

  .information_page_zone {
    background-color: #FFFFCC;
  }

  .information_page_zone {
    text-align: center;
    color: teal;
  }

  #slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }

  #arrow-left {
    margin-left: 0px;
  }

  #arrow-right{
    margin-right: 0px;
  }

  // ----------------------
  // usersのフォーム類のcss
  // ----------------------

  .post_profile {

  .post_zone {
    width: 125px;
  }
}

// ----------------
// users/skillのcss
// ----------------

#timer {
    color: orange;
    font-size: 50%;
  }
  #time_control{
    display: flex;
    font-size: 43px;
  }

// ---------------------
//users/informationのcss
// ---------------------

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px
  }
  .arrow {
    margin-top: 100px;
}

  // ----------------
  // color/indexのcss
  // ----------------

  .color_page_zone {
    width: 100%;
    background: rgba(255, 255, 255, .2) image-url('AdobeStock_198683617.jpeg');
    @include skill_index;
  }
  .color_form {
    background-color: rgba(255,255,255,.5);
  }

  // ---------------
  // perm/indexのcss
  // ---------------

  .perm_page_zone {
    width: 100%;
    background: rgba(255, 255, 255, .2) image-url('shutterstock_1177580824.jpg');
    @include skill_index;
  }
  .perm_form {
    background-color: rgba(255,255,255,.5);
  }

  // ---------------
  // cuts/indexのcss
  // ---------------

  .cut_page_zone {
    width: 100%;
    background: rgba(255, 255, 255, .2) image-url('shutterstock_178947776.jpg');
    @include skill_index;
  }
  .cut_form {
    background-color: rgba(255,255,255,.5);
  }

  // --------------------
  // blogのcss
  //---------------------

  .blog_form {
    background-color: rgba(255,255,255,.5);
  }
}