/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";

@mixin skill_index {
    background-position: top;
    background-repeat: no-repeat;
    min-height: 600px;
    background-size:cover;
    background-blend-mode: lighten;
  }

body {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  min-height: 100vh;
  background-color: black;
}

.good {
  background-color: black;
  color: snow;
}

.header {
  width: 100%;
  display: flex;
  background-color: black;
  border: 5px solid silver;
}
.header_logo {
  width: 20%;
  font-family: Didot;
  }
  .theme_title {
    letter-spacing: 3px;
    text-decoration: none;
    padding: 30px;
    color: burlywood;
    margin-bottom: 0;

    &:hover {
    text-decoration: underline;
  }
    &:active {
    color: plum;
  }
}
.header_nav {
  width: 100%;
  background-color: brown;
  display: flex;
  align-items: center;

    ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: auto;

    .h-seni {
      color: snow;
      font-size: 16px;
      padding: 0 8px;

      &:active {
        color: plum;
      }
    }
  }
}
.top-image-box {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%
}
.footer{
    height: 150px;
    width: 100%;
    background-color: brown;
    border: 5px solid silver;
    align-items: center;
    display: flex;
}

.footer_nav {
    display: none;
  }

// PCサイズからタブレットまでの間
@media (max-width: 1000px) and (min-width: 700px) {

  body {
    width: 100%;
  }

  .header {
    height: 150px;
    display: block;
  }
  .header_logo {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .theme_title {
    letter-spacing: 10px;
  }
  .header_nav {
    width: 100%;
    display: flex;
    height: 32px;

      ul {
      list-style: none;
      display: flex;
      margin: 0 auto;

      .h-seni {
        color: snow;
        font-size: 18px;
        padding: 0 10px;

      }
    }
  }

  .footer_nav {
    display: none;
  }
  // homes/topのcss
  .content {
  background-repeat: no-repeat;
  min-height: 1100px;
  background-size:cover;
  background-position: center;
  }

// users/informationのcss

  .information_page_zone {
    background-color: #FFFFCC;
  }

  .information_page_zone {
    text-align: center;
    color: teal;
  }

  #slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }

  #arrow-left {
    margin-left: 0px;
  }

  #arrow-right {
    margin-right: 0px;
  }

  //Cuts・Colors・Perms・Blogsのindexファイルのcss

  .touko {
    margin: auto;
  }
}

// タブレットからスマホまでの間
@media (max-width: 699px) and (min-width: 340px) {

    body {
      width: 100%;
    }

    .header {
      display: inherit;
    }
    .header_logo {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
    .theme_title {
      letter-spacing: 10px;
      padding: 18px;

    }
    .header_nav {
      display: none;
    }

  // footerのcss

  .footer{
    height: 80px;
    width: 100%;
    background-color: brown;
    border: 1px solid silver;
    align-items: center;
    display: flex;
  }
  .footer_nav {
    width: 100%;
    display: flex;
    height: 32px;
    align-items: center;
    text-align: center;
    ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        margin: 0 auto;

    li+li {
      margin-left: 30px;
    }

      .f-seni {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: snow;
          padding: 0;
        .hurigana {
            display: block;
            justify-content: center;
            display: block;
            font-size: 15px;
        }
      }
    }
  }
    // homes/topのcss
    .content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    }

    .theme{
      font-size: 40px;
    }

  // users/informationのcss

  .information_page_zone {
    background-color: #FFFFCC;
  }

  .information_page_zone {
    text-align: center;
    color: teal;
  }

  #slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }

  #arrow-left {
    margin-left: 0px;
  }

  #arrow-right{
    margin-right: 0px;
  }

  // usersのフォーム類のcss
  .post_profile {

  .post_zone {
    width: 200px;
  }
}

  // color/indexのcss
  .color_page_zone {
    background: rgba(255, 255, 255, .1) image-url('AdobeStock_198683617.jpeg');
    @include skill_index;
  }
  .color_form {
    background-color: rgba(255,255,255,.5);
  }

  // perm/indexのcss
  .perm_page_zone {
    background: rgba(255, 255, 255, .1) image-url('shutterstock_1177580824.jpg');
    @include skill_index;
  }
  .perm_form {
    background-color: rgba(255,255,255,.5);
  }

  // cuts/indexのcss
  .cut_page_zone {
    background: rgba(255, 255, 255, .1) image-url('shutterstock_178947776.jpg');
    @include skill_index;
  }
  .cut_form {
    background-color: rgba(255,255,255,.5);
  }

  // homes/topのcss
  .content {
    background-repeat: no-repeat;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    }
}

@media (max-width: 340px) and (min-width: 0px) {

    body {
      width: 100%;
    }

    .header {
      display: inherit;
    }
    .header_logo {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
    .theme_title {
      letter-spacing: 10px;
      padding: 5px;
    }
    .header_nav {
      width: 100%;
      display: none;
      height: 32px;

        ul {
        list-style: none;
        display: flex;
        margin: 0 auto;

        .h-seni {
          display: flex;
          justify-content: center;
          color: snow;
          padding: 0;
        }
      }
    }

  // footerのcss
  .footer{
    height: 58px;
    width: 100%;
    background-color: brown;
    border: 1px solid silver;
    align-items: center;
    display: flex;
  }

  .footer_nav {
    width: 100%;
    display: flex;
    height: 32px;
    align-items: center;
    text-align: center;
    ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        margin: 0 auto;

    li+li {
      margin-left: 15px;
    }

      .f-seni {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: snow;
          padding: 0;
        .hurigana {
            display: block;
            justify-content: center;
            display: block;
            font-size: 15px;
        }
      }
    }
  }
    // homes/topのcss
    .content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    }

    .theme{
      font-size: 40px;
    }

  // users/informationのcss

  .information_page_zone {
    background-color: #FFFFCC;
  }

  .information_page_zone {
    text-align: center;
    color: teal;
  }

  #slider {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }

  #arrow-left {
    margin-left: 0px;
  }

  #arrow-right{
    margin-right: 0px;
  }

  // usersのフォーム類のcss
  .post_profile {

  .post_zone {
    width: 125px;
  }
}

  // color/indexのcss
  .color_page_zone {
    background: rgba(255, 255, 255, .1) image-url('AdobeStock_198683617.jpeg');
    @include skill_index;
  }
  .color_form {
    background-color: rgba(255,255,255,.5);
  }

  // perm/indexのcss
  .perm_page_zone {
    background: rgba(255, 255, 255, .1) image-url('shutterstock_1177580824.jpg');
    @include skill_index;
  }
  .perm_form {
    background-color: rgba(255,255,255,.5);
  }

  // cuts/indexのcss
  .cut_page_zone {
    background: rgba(255, 255, 255, .1) image-url('shutterstock_178947776.jpg');
    @include skill_index;
  }
  .cut_form {
    background-color: rgba(255,255,255,.5);
  }

  // homes/topのcss
  .content {
    background-repeat: no-repeat;
    min-height: 100px;
    background-size: cover;
    background-position: center;
  }
}