// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
    background-color: snow;
}
.calendar-top {
    color: olive;
}
.t-r {
    background-color: black;
    color: #224226;
}