// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//↓index
.calendar {
    background-color: #FFCC99;
}
.calendar_top {
    color: olive;
}
.t_r {
    background-color: black;
    color: #224226;
}