// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// -----
//↓index
// -----
.calendar {
  background: rgba(255, 255, 255, .5) image-url('shutterstock_1715459824.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}

.blog-page-text-back {
    background-color: rgba(0, 0, 0, .5);
}
.blog_page_row {
  display: flex;
  flex-wrap: wrap;
  margin-right: none;
  margin-left: none;
}
.calendar_top {
    color: olive;
}
.t_r {
    background-color: black;
    color: #224226;
}