// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact_page_zone {
  background-color: #FFCC99;
}
.post_contact {
  margin-top: 10px;
  color: #333333;
}
.post_zone {
  background-color: rgba(255,255,255,.5);
  margin-left: 10px;
}
.post_area {
  margin-left: 10px;
  width: 45%;
  height: 180px;
  background-color: rgba(255,255,255,.5);
}
.contact_btn {
  margin: 10px;
  padding: 15px 40px;
  background-color: #333300;
  color: snow;
}