// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.contact_page_zone {
  background-color: #FFCC99;
}

.contact {
  text-align: center;
}

.post_contact {
  margin-top: 10px;
  color: #333333;
}
.post_zone {
  background-color: rgba(255,255,255,.5);
}
.post_area {
  width: 50%;
  height: 180px;
  background-color: rgba(255,255,255,.5);
}
.contact_btn {
  margin-bottom: 20px;
  padding: 15px 40px;
  background-color: #333300;
  color: snow;
}