// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//---------------------------------
// グラデーションカラー用のmixin↓
// --------------------------------
@mixin g-c($color1,$color2) {
  background: linear-gradient($color1, $color2);
}
// --------------------------------------------------
//             (シャッター全体的構造)
// オープニングシャッター用の最前面のレイヤー要素
// 3秒間アニメーション指定している
// 光が走る間にコンテンツにはテーマ名を入れて表示
// アニメーションで変形させて背面に移動
// --------------------------------------------------
.shutter {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 10;
  animation: disappear 3s forwards;
  &::before,
  &::after {
    content:'HairSkill';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: #b5a58b;
    font-size: 30px;
  }
  &::before {
    @include g-c( navy,indigo);
    width: 0;
    height: 5px;
    animation: wakeup_page1 3s forwards;
  }
  &::after {
    width: 100%;
    height: 0;
    @include g-c( gold,coral);
    animation: wakeup_page2 3s forwards;
  }
}
.content {
  animation: getup-page 3s forwards;
}
// -------------------------------------------
// 100%になったとき
// z-index: -1になり（opacityも0）背面に移動
// これがないと背面には回り込まない↓
// -------------------------------------------
@keyframes disappear{
  70% {
    opacity: 1;
    cursor: progress;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes wakeup_page1 {
  0% {
    width: 0;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
    cursor: progress;
  }
  90% {
    width: 100%;
    height: 100%;
    cursor: progress;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
// -----------------------------
// rotateでくるっと角度を変える
// 角度なので単位はdeg ↓
// -----------------------------
@keyframes wakeup_page2 {
  60% {
    width: 100%;
    height: 0;
    transform:rotate(5deg);
    cursor: progress;
  }
  90% {
    width: 100%;
    height: 100%;
    transform: rotate(-5deg);
    cursor: progress;
  }
  100% {
    width: 100%;
    height: 100%;
    transform:rotate(-5deg);
    cursor: progress;
  }
}
// -----------------------------------------------
// perspectiveで起きあがるような動きにしている
// 最終的にはrotateX(0)にして角度を直す
// perspectiveの数値が小さいと画像がすごく伸びる↓
// -----------------------------------------------
@keyframes getup-page {
  70% {
    transform:perspective(500px) scale(0.9)
    rotateX(15deg);
    cursor: progress;
  }
  100% {
    transform:perspective(500px) scale(1)
    rotateX(0);
  }
}
// ↓homes/topの(sectionの中身)css
.content {
  background-image: image-url('shutterstock_1038740494_4.jpg');
  background-repeat: no-repeat;
  min-height: 1100px;
  background-size:cover;
}

.theme{
  margin-left: 15px;
  font-size: 100px;
  font-family: Didot;
  letter-spacing: 3px;
  line-height: 500px;
  width: 18%;
  text-align: center;
  color: gold;
  text-shadow: coral 4px 0 2px;
  .h{
    color: red;
  }
  .s{
    color: navy;
  }
}
