// Cut.Color.Perm共通

.index {
    margin: 0 10px;
}
.skill_form_text {
  color: green;
}
.show {
    margin: 0 10px;
}
.skill_edit_delete_back{
  text-align: center;
}

.edit {
    margin: 0 10px;
}

// CutのSCSS
.cut_page_zone {
  background: rgba(255, 255, 255, .7) image-url('shutterstock_178947776.jpg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}
.cut-page-text-back {
    background-color: rgba(0, 0, 0, .5);
}
.cut {
    color: #191970;
}
.cut_index {
    color: #FF9900;
}

.cut-img {
    width: 50%;
}

// ColorのSCSS
.color_page_zone {
  background: rgba(255, 255, 255, .4) image-url('AdobeStock_198683617.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}
.color-page-text-back {
    background-color: rgba(0, 0, 0, .5);
}

.color {
    color: #A52A2A;
}
.color_index {
    color: #A52A2A;
}

// PermのSCSS
.perm_page_zone {
  background-color: #FFF5EE;
  background: rgba(255, 255, 255, .6) image-url('shutterstock_1177580824.jpg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}
.perm-page-text-back {
    background-color: rgba(0, 0, 0, .5);
}
.perm {
    color: #008080;
}
.perm_index {
    color: #008080;
}