// cut.color.perm共通
.skill_zone_row {
  display: flex;
  flex-wrap: wrap;
  margin-right: none;
  margin-left: none;
}
.index {
    margin: 0 10px;
}
.kensaku{
  text-align: center;
  align-items: center;
  display: flex;
}
.skill_form_text {
  color: green;
}
.show {
    margin: 0 10px;
}
.skill_column_title_detail_evaluation {
  color: navajowhite;
}
.skill_record_title_detail_evaluation {
    color: gold;
    font-family: fantasy;
}

.skill_edit_delete_back {
  text-align: center;
}

.edit {
    margin: 0 10px;
}

// ---------
// cutのcss
// ---------

.cut_page_zone {
  background: rgba(255, 255, 255, .7) image-url('shutterstock_178947776.jpg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}
.cut_page_text_back {
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}
.cut {
    color: #191970;
}
.cut_index {
    color: #FF9900;
}

.cut-img {
    width: 50%;
}

//------------
// colorのcss
// -----------

.color_page_zone {
  background: rgba(255, 255, 255, .4) image-url('AdobeStock_198683617.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}
.color_page_text_back {
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

.color {
    color: #A52A2A;
}
.color_index {
    color: #A52A2A;
}
// ---------
// permのcss
// ---------
.perm_page_zone {
  background-color: #FFF5EE;
  background: rgba(255, 255, 255, .6) image-url('shutterstock_1177580824.jpg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  background-blend-mode: lighten;
}
.perm_page_text_back {
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}
.perm {
    color: #008080;
}
.perm_index {
    color: #008080;
}