// Cut.Color.Perm共通

.index {
    margin-left: 10px;
}
.show {
    margin: 0 10px;
}

.edit {
    margin-left: 10px;
}

// CutのSCSS
.cut_page_zone {
  background: rgba(255, 255, 255, .8) image-url('shutterstock_178947776.jpg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size:cover;
  // background: rgba(255, 255, 255, .9);
  background-blend-mode: lighten;
}
.cut-page-text-back {
    background-color: rgba(0, 0, 0, .5);
}
.cut {
    color: #FFCC66;
}
.cut_index {
    color: #EEEEEE;
}

.cut-img {
    width: 50%;
}

// ColorのSCSS
.color_page_zone {
    background-color: #FFF5EE;
}
.color {
    color: #A52A2A;
}
.color_index {
    color: #EEEEEE;
}

// PermのSCSS
.perm_page_zone {
    background-color: #FFF5EE;
}
.perm {
    color: #006400;
}
.perm_index {
    color: #EEEEEE;
}