// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.midashi_n {
  color: #0bd;
}
.post_profile {
  background-color: #734E30;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  .post_zone{
    background-color: rgba(255,255,255,.5);
    width: 300px;
  }
}
.nice_btn {
  margin: 5px;
  padding: 15px 20px;
  border-color: tan teal red rebeccapurple;
  background-color: #0bd;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: whitesmoke;
    background-color: blue;
    box-shadow: 0 0 20px black;
    &::before{
      transform: none;
    }
  }
}
// ↓エラーメッセージ
#error_explanation {
  background-color: red;
  color: snow;
}

// ↓deviseのcss(アカウント類)
.p_user_zone {
  background: rgba(255, 255, 255, .7) image-url('AdobeStock_450946274.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  background-blend-mode: lighten;
}
// deviseのpasswords/newのcss
.forget {
  text-align: center;
}
.forget_question {
  margin-bottom: 20px;
}


// users/informationのcss

.information_page_zone {
  background-color: #FFFFCC;
}

#slider {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.slide1 {
　display: none;
  background-image: image-url('shutterstock_1038740494_4.jpg');
}

.slide2 {
  display: none;
  background-image: image-url('scissor-and-comb.png');
}

.slide3 {
  display: none;
  background-image: image-url('shutterstock_1177580824.jpg');
}

.arrow {
  cursor: pointer;
  position: absolute;
  margin-top: 230px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 20px 20px 20px 0;
  border-color: transparent gray transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right{
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent gray;
  right: 0;
  margin-right: 30px;
}