// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----------------------------------
// グラデーションカラー用のmixin↓
// ---------------------------------
@mixin g-c($color1,$color2) {
  background: linear-gradient($color1, $color2);
}
// ---------------------------------
// hover用のmixin↓
// ---------------------------------
@mixin skill_time {
    color: white;
    background-color: #CCCCFF;
}
// ---------------------------------
// active用のmixin↓
// ---------------------------------
@mixin skill_time_on {
    color: white;
    background-color: red;
}



.midashi_n {
  color: #0bd;
  text-align: center;
}
.post_profile {
  background-color: #734E30;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  .post_zone{
    background-color: rgba(255,255,255,.5);
    width: 300px;
  }
}
.nice_btn {
  margin: 5px;
  padding: 15px 20px;
  border-color: tan teal red rebeccapurple;
  background-color: #0bd;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: whitesmoke;
    background-color: blue;
    box-shadow: 0 0 20px black;
  }
}
// -----------------
// ↓エラーメッセージ
// -----------------
#error_explanation {
  background-color: red;
  color: snow;
}

// --------------------------
// ↓deviseのcss(アカウント類)
// --------------------------

.p_user_zone {
  background: rgba(255, 255, 255, .7) image-url('AdobeStock_450946274.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  background-blend-mode: lighten;
}

// --------------------------
// deviseのpasswords/newのcss
// --------------------------
.forget {
  text-align: center;
}
.forget_question {
  margin-bottom: 20px;
}

// ------------------------------
// devise/registrations/editのcss
// ------------------------------

.back {
   margin-right: 25px;
}

.logout{
  margin-left: 25px;
}

// ----------------------
// users/informationのcss
// ----------------------

.information_page_zone {
  background-color: #FFFFCC;
}

.information_page_zone {
  text-align: center;
  color: teal;
}
// -------------------
// 画像スライダーのcss
// -------------------
#slider {
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.slide1 {
　display: none;
  background-image: image-url('A7923BFA-BD61-4AF9-AE2F-25C35832937A.jpg');
}

.slide2 {
  display: none;
  background-image: image-url('F2A7665F-EF1B-44B4-9011-16FA46A215C1.jpg');
}

.slide3 {
  display: none;
  background-image: image-url('image_72192707.JPG');
}

.arrow {
  cursor: pointer;
  position: absolute;
  margin-top: 230px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 20px 20px 20px 0;
  border-color: transparent gray transparent transparent;
  left: 0;
  margin-left: 300px;
}

#arrow-right {
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent gray;
  right: 0;
  margin-right: 300px;
}

// -----------------
// おみくじのcss
// -----------------

.blink {
  margin: 15px auto 0 auto;
  color: pink;
  -webkit-animation: 1s ease-in-out infinite alternate;
  animation: blink 3s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#omikuji_btn {
  width: 60%;
  margin: 15px 0 15px 0;
  text-align: center;
  height: 100px;
  background-color: #FF6928;
  color: snow;
  transition: all 0.5s;

  &:hover {
    @include g-c( navy,gray);
  }
}

//-----------------
// users/skillのcss
// ----------------

.skill_navigation_page {
  width: 100%;
  text-align: center;
  line-height: 200px;
  font-family: serif;
  font-size: 100px;
}
#timer {
  color: orange;
}
#time_control {
  margin-bottom: 30px;
}
.timer-moji {
  margin-top: 3px;
  color: snow;
}
#start, #stop, #reset {
  padding: 0 5px;
  background-color: #fff;
  border: 2px solid black;
}
#start {
  transition: all 0.5s;

  &:hover {
    @include skill_time;
  }

  &:active {
    @include skill_time_on;
  }
}
#stop {

  &:hover {
    @include skill_time;
  }

  &:active {
    @include skill_time_on;
  }
}

#reset {

  &:hover {
    @include skill_time;
  }

  &:active {
    @include skill_time_on;
  }
}

.skill_navigation_cut {
  background-color: navy;
  height: 200px;
}

.skill_navigation_color {
  background-color: #ff0099;
  height: 200px;
}
.skill_navigation_perm {
  background-color: teal;
  height: 200px;
  aline-items: center;
}
.skill_navigation_zone {
  padding-left: 0;
  list-style: none;
  margin: auto;
  margin-bottom: 0;
  .skill_seni {
    color: white;
  }
}